name: Build docker images

on:
  push:
    tags:
      - 'v*'

jobs:
  net8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_LOGIN }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build and push dotnet6
      uses: docker/build-push-action@v5
      with:
        context: ./net8
        push: true
        tags: madfisht3/dotnet-sdk:alse1.8-8.0.416

  net10:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_LOGIN }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build and push dotnet8
      uses: docker/build-push-action@v5
      with:
        context: ./net10
        push: true
        tags: madfisht3/dotnet-sdk:alse1.8-10.0.101
